.Card {
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
  position: relative;
  display: flex;
}
.Rate,
.Date {
  font-size: 11px;
  font-weight: bold;
}
.Date {
  margin-bottom: 10px;
}
.Poster {
  width: 25%;
  height: 100%;
  margin-right: 8px;
}
.Title {
  font-size: 12px;
  margin-bottom: 10px;
}
.Panel {
  position: absolute;
  bottom: 7%;
  right: 3%;
}
.Del_button,
.Info_button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
  padding: 7px;
}
.Del_button {
  margin-right: 5px;
}

.Info_button:hover {
  background-color: #f5f5f5;
}
.Del_button:hover {
  background-color: #f5f5f5;
}

.icon {
  width: 12px;
  height: 12px;
  fill: #bdbdbd;
}
.Del_button:hover .icon {
  fill: black;
  transition: 0.5s linear;
}
.Info_button:hover .icon {
  fill: black;
  transition: 0.5s linear;
}
