.movie_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list_item {
  width: 24%;
  margin-bottom: 10px;
}
.list:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.loader {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Pop transition effect */
.popEnter {
  transform: scale(0);
}

.popEnterActive {
  transform: scale(1);
  transition: transform 300ms linear;
}

.popExit {
  transform: scale(1);
}

.popExitActive {
  transform: scale(0);
  transition: transform 300ms ease-out;
}
