.movie_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.list {
  width: 24%;
  margin-bottom: 10px;
}
.list:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.loader {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
