.content {
  display: block;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
  padding: 20px;
  border: 1px solid lightgrey;
}
@media (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.content_right {
  width: 100%;
}
@media (min-width: 768px) {
  .content_right {
    width: 65%;
  }
}

.poster {
  width: 100%;
}
.poster_img_min {
  width: 100%;
}
.poster_img {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .poster_img {
    display: block;
  }
  .poster_img_min {
    display: none;
  }
  .poster {
    width: 33%;
  }
}
.head_title {
  font-size: 18px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .head_title {
    font-size: 26px;
    margin-bottom: 5px;
  }
}
.tagline {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
}
.overview {
  font-size: 12px;
  margin-bottom: 5px;
}
.headers {
  margin-bottom: 5px;
  color: #37474f;
}
.list {
  margin-bottom: 14px;
  padding-left: 15px;
  line-height: 1.5;
}
.list:last-child {
  margin-bottom: 0;
}
.genre,
.companie {
  display: inline-block;
  margin-right: 15px;
  color: #01579b;
  font-size: 13px;
  font-weight: bold;
}

.trailer_frame {
  border: 5px solid #979797;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.trailer_frame iframe,
.myvideo object,
.myvideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.trailer_block {
  display: none;
}
@media (min-width: 768px) {
  .trailer_container {
    width: 100%;
    padding: 0 70px;
  }
  .trailer_block_min {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .trailer_container {
    width: 100%;
    padding: 0 120px;
  }
  .trailer_block {
    display: block;
  }
  .trailer_block_min {
    display: none;
  }
}
.center {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .center {
    padding-top: 40px;
  }
}
.bottom_content {
  display: block;
  margin-top: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .bottom_content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100%;
  }
}
.img_slider {
  padding: 0 50px;
}

.slider_container {
  display: flex;
  justify-content: center;
}

.genre_btn {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: 100%;
  color: #01579b;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  background: none;
  border: none;
}
.genre_btn:hover {
  text-decoration: underline;
}
