.Movie_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.List_item {
  width: 48%;
  margin-bottom: 20px;
  animation: open-card 0.3s;
}

@media (min-width: 768px) {
  .List_item {
    width: 24%;
  }
}
@media (min-width: 1200px) {
  .List_item {
    width: 13%;
  }
}
.List:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.Loader {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

@keyframes open-card {
  0% {
    transform: scale(0);
    transition: transform 300ms ease-in;
  }

  100% {
    transform: scale(1);
    transition: transform 300ms ease-in;
  }
}
