.Nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  position: relative;
}

@media (min-width: 768px) {
  .Nav {
    flex-wrap: nowrap;
    justify-content: initial;
    width: 100%;
  }
}
.Nav li {
  line-height: 1.7;
  font-size: 16px;
  text-transform: uppercase;
  animation: render-link 0.5s;
}

@media (min-width: 768px) {
  .Nav li {
    margin-right: 20px;
    line-height: 1.7;
    font-size: 22px;
  }
  .Nav li:last-child {
    margin-right: 0;
    text-transform: none;
  }
}
.Link {
  text-decoration: none;
  color: #212121;
  padding: 5px;
}
.LinkActive {
  color: #fff;
  font-weight: bolder;
}

.user_panel {
  display: flex;
  align-items: center;
}

.user_foto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .user_panel {
    position: absolute;
    right: 10px;
  }
}

.Nav li button {
  padding: 5px !important;
  min-height: 20px;
}
@media (min-width: 768px) {
  .Nav li button {
    min-height: 36px;
  }
}
/*Link animation */
@keyframes render-link {
  0% {
    transform: scale(0);
    transition: transform 300ms ease-in;
  }

  100% {
    transform: scale(1);
    transition: transform 300ms ease-in;
  }
}

.AppBar {
  margin-bottom: 10px;
  position: static !important;
  background-color: #78909c !important;
}
@media (min-width: 768px) {
  .AppBar {
    margin-bottom: 0;
    position: fixed !important;
    flex-direction: row !important;
  }
}
@media (min-width: 768px) {
  .SearchForm {
    position: absolute;
    right: 50px;
    top: 5px;
  }
}

.Logo {
  background-image: url('../../images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
}
