.Nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px 10px;
  position: relative;
}

@media (min-width: 768px) {
  .Nav {
    flex-wrap: nowrap;
    justify-content: initial;
  }
}
.Nav li {
  line-height: 1.7;
  font-size: 16px;
  text-transform: uppercase;
  animation: render-link 0.5s;
}

@media (min-width: 768px) {
  .Nav li {
    margin-right: 20px;
    line-height: 1.7;
    font-size: 22px;
  }
  .Nav li:last-child {
    margin-right: 0;
    text-transform: none;
  }
}
.Link {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.LinkActive {
  font-weight: bolder;
  color: #5c6bc0;
}

.user_panel {
  display: flex;
  align-items: center;
}
.user_panel h4 {
  margin-right: 5px;
  font-size: 13px;
}
.user_foto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .user_panel {
    position: absolute;
    right: 10px;
  }
  .user_panel h4 {
    margin-right: 15px;
    font-size: 20px;
  }
}

.Nav li button {
  padding: 5px !important;
  min-height: 20px;
}
@media (min-width: 768px) {
  .Nav li button {
    padding: 8px 16px !important;
    min-height: 36px;
    margin-top: -4px !important;
  }
}
/*Link animation */
@keyframes render-link {
  0% {
    transform: scale(0);
    transition: transform 300ms ease-in;
  }

  100% {
    transform: scale(1);
    transition: transform 300ms ease-in;
  }
}

.AppBar {
  margin-bottom: 10px;
  position: static !important;
}
@media (min-width: 768px) {
  .AppBar {
    margin-bottom: 0;
    position: fixed !important;
    /* overflow: hidden; */
  }
}
