.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  padding: 16px;
  background-color: #fff;
}

.Modal-exiting {
  animation: close-modal 200ms linear forwards;
}

.Modal-entering {
  animation: open-modal 400ms linear forwards;
}

@keyframes open-modal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close-modal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
    opacity: 0.8;
    transform: translateY(-50%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
