.List {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
  padding: 5px;
  width: 20%;
  /* float: left; */
  overflow: hidden;
  list-style: none;
}
.Header {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.Card {
  margin-bottom: 5px;
  width: 100%;
}
.Card:last-child {
  margin-bottom: 0;
}

/* Slide transition effect */
.slideEnter {
  opacity: 0;
  transform: translateX(-100%);
}

.slideEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms ease-out, transform 200ms linear;
}

.slideExit {
  opacity: 1;
  transform: translateX(0);
}

.slideExitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 200ms ease-out, transform 200ms linear;
}
