.Search_panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

@media (min-width: 768px) {
  .Search_panel {
    justify-content: initial;
  }
}

.AppBar {
  margin-bottom: 10px;
  background-color: #fff;
}

/* @media (min-width: 768px) {
  .AppBar {
    margin-bottom: 0;
    position: fixed !important;
  }
} */
