.AccountPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AccountPassForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  padding: 10px 10px 5px 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .AccountPassForm {
    width: 300px;
    padding: 40px 10px 5px 10px;
    margin-bottom: 0;
  }
}

.ChangePassForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ChangePassForm input {
  width: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 10px;
  background-color: #fafafa;
}

.AccountPassForm h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.Error_Message {
  color: #f44336;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

.Account_Header {
  font-size: 20px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .Account_Header {
    font-size: 2em;
  }
}
.User_email {
  color: #009688;
  margin-left: 10px;
}

#Snackbar {
  width: 500px !important;
}
.social_auth {
  width: 100%;
}

.Input {
  width: 100%;
  margin-bottom: 6px;
}
