.List {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  list-style: none;
  background-color: #fff !important;
}

@media (min-width: 768px) {
  .WatchListPage {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .Ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}

.Card {
  margin-bottom: 5px;
  width: 100%;
}
.Card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .Card {
    width: 32.7%;
    margin-right: 7px;
  }
  .Card:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .Card:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .Card {
    width: 24%;
  }
  .Card:nth-child(n + 4) {
    margin-bottom: 0;
  }
  .Card:nth-child(4n) {
    margin-right: 0;
  }
}

/* Slide transition effect */

.slideEnter {
  opacity: 0;
  transform: translateX(-100%);
}

.slideEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms ease-out, transform 200ms linear;
}

.slideExit {
  opacity: 1;
  transform: translateX(0);
}

.slideExitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 200ms ease-out, transform 200ms linear;
}
